<app-navbar></app-navbar>
<body>
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <h1>Hippopocrate</h1>
    <h2>Modifier un utilisateur</h2>
    <label>Nom d'utilisateur :</label>
    <input
      type="text"
      name="name"
      formControlName="name"
      required
      placeholder="{{ user.name }}"
    />
    <label>Habilitation :</label>
    <select
      [(ngModel)]="roleId"
      (ngModelChange)="onSelectRole()"
      class="dropbox"
      name="roles"
      id="role"
      formControlName="role"
    >
      <option *ngFor="let role of roles" value="{{ role.name }}">
        {{ role.name }}
      </option>
    </select>
    <button type="submit" class="button">Valider</button>
  </form>
</body>
