div {
    padding: 10px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

h1{
    font-family:'Roboto Slab';
}

h2{
    font-family: 'Roboto Slab';
    font-weight: 300;
}

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    padding: 40px;
    padding-bottom: 60px;
}
form input {
    width: 400px;
    margin-bottom: 15px;
    border: solid 1px black;    
    border-radius: 15px;
    height: 30px;
    font-family: 'Roboto Slab';
}

form label {
    font-family: 'Roboto Slab';
    font-size: 25px;
    margin-bottom: 30px;
   
}

form button {
    font-family: 'Roboto Slab';
    font-size: 16px;
    border: solid 1px white;    
    border-radius: 15px;
    height: 40px;
    margin-top: 15px;
    background-color: #5ECAB5;
    display: flex;
    align-items: center;
    padding: 15px;
}

button{
color:white;
}