.titre{
    font-size: 40px;
}
p{
    display: flex;
    justify-content: center;
}
.body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

h1,h2,p{
    font-family:'Roboto Slab';
}

form {
    background-color: white;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 100px;
}

form button {
    font-family: 'Roboto Slab';
    width: 100px;
    font-size: 15px;
    border: solid 1px #5ECAB5;    
    border-radius: 15px;
    height: 40px;
    margin: 15px;
    background-color: #5ECAB5;
    color:white;
    transition: transform .1s;
}
button:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.bouton{
    display: flex;
    justify-content: flex-end;
}
.boutonbas{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    background-color: white;
    margin: 30px;
    }
tr{
    font-family: 'Roboto Slab';
    padding: 20px;
    width: 800px;
    border-radius: 30px;
}
.date{
    background-color: white;  
    height: 25px;
}
.review{
    background-color: #EAEAEA;
    height: 50px;
}