<app-navbar></app-navbar>
<div class="card my-5">
  <h1>Liste Patients</h1>
  <div class="card-body">
    <table class="tableau">
      <thead>
        <tr>
          <th scope="col">Patient</th>
          <th scope="col">Chambre</th>
          <th scope="col">Lit</th>
          <th scope="col">Service</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <td>{{ patient.firstname }} {{ patient.lastname }}</td>
          <td>{{ patient.roomNumber }}</td>
          <td>{{ patient.bedNumber }}</td>
          <td>{{ patient.serviceName }}</td>
          <td>
            <button (click)="seePatient(patient.id)">Voir détails</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf = "role !== 'ROLE_INFIRMIER'" class="ajouter"><a routerLinkActive="active" routerLink="/addPatient"><button class ="btn" >Nouveau Patient</button></a></div>
  </div>
</div>
