<nav>
  <div><img src=".\assets\logo_hippopocrate.png" alt="" style="width:50px"></div>
  <ul>
    <li><a routerLinkActive="active" routerLink="/users">Liste utilisateurs</a></li>
  </ul>
</nav>

<div class="card my-5">
  <h1>Liste utilisateurs</h1>
    <div class="card-body">
      <table>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nom</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>