<div class="card my-5">
  <h1>Liste utilisateurs</h1>
    <div class="card-body">
      <table class ="tableau">
        <thead>
          <tr>
            <th>Nom utilisateur</th>
            <th>Habilitations</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>Rôle</td>
            <td><button>Modifier</button><button>Supprimer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>