<div class="body">
    <h1>GYNECOLOGIE</h1>

    <table>
        <tr>
            <td><b>Patients :</b></td>
            <td><b>Chambres :</b></td>
            <td><b>Lits :</b></td>
            <td><b>Date d'entrée :</b></td>
            <td><b>Date de sortie :</b></td>
        </tr>
        <tr>
            <td>patient 1</td>
            <td>Chambre x</td>
            <td>Lit n°.</td>
            <td>00/00/0000</td>
            <td>01/00/0000</td>
        </tr>
    </table>

    <img src="assets/hippopo.png" width="300px">

</div>
