<div class="body">
    <form>
    <h1>Hippopocrate:</h1>
    <h2>Modifier les infos d'un patient </h2>

        <label>Prénom:</label>
        <input type="text" name="firstname" formControlName="firstname" required>

        <label>Nom:</label>
        <input type="text" name="name" formControlName="name" required>


        <label>Adresse:</label>
        <input type="text" name="address" formControlName="address" required>


        <label>Date de naissance:</label>
        <input type="date" name="birthday" formControlName="birthday" required>

        <label>Services :</label>
        <input type="services" name="services" formControlName="services" required>

        <button type="submit" class="button">Modifier</button>

    </form>
</div>