<app-navbar></app-navbar>
<div class="body">
  <form>
    <h2>Nom de Service : {{ patient.serviceName }}</h2>

    <p class="titre">Nom patient :
    {{ patient.firstname }} {{ patient.lastname }}</p>
    <p>Date de naissance:</p>
    <p>{{ patient.birthdate }}</p>
    <p>Adresse:</p>
    <p>{{ patient.address }}</p>
    <p>Numéro de lit :</p>
    <p>{{ patient.bedNumber }}</p>
    <div class="bouton">
      <button type="submit" class="button">Modifier</button>
      <button type="submit" class="button">Sortie</button>
    </div>
    <table *ngFor="let commentary of commentaries" >
      <tr class="date">
        Suivi patient par {{ commentary.userName }}
      </tr>
      <tr class="review">
        {{ commentary.commentary }}
      </tr>
    </table>
    <div class="boutonbas">
      <button type="submit" (click)="suiviId(patient.id)">Suivi</button>
    </div>
  </form>
</div>
