.titre {
  font-size: 40px;
}
p {
  display: flex;
  justify-content: center;
}
.body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

h1,
h2,
p {
  font-family: "Roboto Slab";
  text-align: center;
}

form {
  background-color: white;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: fit-content;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 100px;
}

form button {
  font-family: "Roboto Slab";
  width: 100px;
  font-size: 15px;
  border: solid 1px #5ecab5;
  border-radius: 15px;
  height: 40px;
  margin: 15px;
  background-color: #5ecab5;
  color: white;
  transition: transform 0.1s;
  cursor: pointer;
}
button:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  cursor: pointer;
}
.bouton {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.boutonbas {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  background-color: white;
  margin: 30px;
}
tr {
  font-family: "Roboto Slab";
  padding: 20px;
  width: 800px;
  border-radius: 30px;
}
.date {
  background-color: white;
  height: 25px;
}
.review {
  background-color: #eaeaea;
  height: 50px;
}

app-popup {
  display: none;
}
