<div class="body">
    <h1> Liste patients</h1>

    <table class="tableau">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Chambre</th>
            <th>Lit</th>
            <th>Service</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td>Contenu</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button routerLink="/fichepatient">Voir détails</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button routerLink="/fichepatient">Voir détails</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button routerLink="/fichepatient">Voir détails</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button routerLink="/fichepatient">Voir détails</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td></td>
                <td></td>
                <td></td>
                <td><button routerLink="/fichepatient">Voir détails</button></td>
            </tr>
    </tbody>
    </table>
    <div class="ajouter">
        <button routerLink="/ajouterpatient">Ajouter un patient</button>
    </div>
</div>