<div class="body">
    <h1> Liste utilisateurs</h1>

    <table class="tableau">
        <thead>
            <tr>
                <th>Nom utilisateur</th>
                <th>Habilitations</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Contenu</td>
                <td>Contenu</td>
                <td><button>Modifier</button><button>Supprimer</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td>Contenu</td>
                <td><button>Modifier</button><button>Supprimer</button></td>
            </tr>
            <tr>
                <td>Contenu</td>
                <td>Contenu</td>
                <td><button>Modifier</button><button>Supprimer</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><button>Modifier</button><button>Supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>