<app-navbar></app-navbar>
<div class="container">
    <div class="body">
      <form [formGroup]="addCommentaryForm" (ngSubmit)="onSubmit()">
        <div class="service">
          <h2>{{ patient.serviceName }}</h2>
        </div>
        <h1>{{ patient.lastname }} {{ patient.firstname }}</h1>
        <input
          type="textarea"
          name="commentary"
          formControlName="commentary"
          required
        />
        <button type="submit" class="button">
          Ajouter un commentaire
        </button>
      </form>
    </div>
</div>
