<body>
    <form (ngSubmit)="onSubmit()">
    <h1>Hippopocrate:</h1>
    <h2>Ajouter un patient </h2>
        <label>Prénom:</label>
        <input type="text" name="firstname" formControlName="firstname" required>
        <p *ngIf="error">Veuillez entrer un prénom valide</p>

        <label>Nom:</label>
        <input type="text" name="name" formControlName="name" required>
        <p *ngIf="error">Veuillez entrer un nom valide</p>

        <label>Adresse:</label>
        <input type="text" name="address" formControlName="address" required>
        <p *ngIf="error">Veuillez entrer une addresse valide</p>

        <label>Date de naissance:</label>
        <input type="date" name="birthday" formControlName="birthday" required>
        <p *ngIf="error">Veuillez entrer une date valide</p>

        <label>Services :</label>
        <select class="dropbox" name="services" id="service">
            <option value="cardiologie">Cardiologie</option>
            <option value="oncologie">Oncologie</option>
            <option value="neurologie">Neurologie</option>
            <option value="gynecologie">Gynécologie</option>
        </select>
        <p *ngIf="error">Veuillez sélectionner un service</p>

        <button type="submit" class="button">Valider</button>

    </form>
    </body>