nav {
    display: flex;
    font-family: 'Roboto Slab';
    font-size: 18px;
}

ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AFA8BA;
}
li{
    display: inline;
    float: left;
 }

a{
    display: block;
    padding: 8px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
    background-color: #5ECAB5;
    color:white;
}

